.principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    h2{
        color: #fff;
    }

    &__lista{
        list-style: none;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        li {
            cursor: pointer;
            color: #fff;
            background-color: #a0a0a09a;
            padding: 5px 10px;
            border-radius: 10px;
        }
    }
}