.principal {
    width: 18%;

    &__lista {
        margin: 0;
        height: 276px;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &__item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }

    a {
        text-decoration: none;
        font-size: 1.125rem;
        color: #fff;
    }
}